.lilita-font{
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(90deg, #0a1a3b, #9747ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-header{
  background-color: #9747ffc0;
}
.functions-checkbox{
  position: relative;
  padding-left: 30px;
}

.functions-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background: url(select-checkbox.png) no-repeat center;
  background-size: contain;
}
