.lilita-font{
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form-submit-btn,.form-submit-btn:visited{
  background-color: #0a1a3b;
  color: white;
  border: none;
}
.form-submit-btn:hover{
  color: #9747ff;
}

.whatsapp-icon{
  color: #25d366;
  position: fixed;
  left: 90%;
  top: 80%;
}